<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="MyFile" fileName="logs\exec_${date:yy-MM-dd_HH-mm-ss}.log"
              append="false">
            <!-- logger{x} -> x = precision: how many parts of file should be displayed? -->
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} %-5level %-24logger{1} %-31method/ %msg %n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="MyFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>